<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ToolMaster.Setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <DXThemeManager>
        <setting name="ApplicationThemeName" serializeAs="String">
            <value>Win11Dark</value>
        </setting>
    </DXThemeManager>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-106.15.0.0" newVersion="106.15.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ToolMaster.Setting>
      <setting name="EsnIp" serializeAs="String">
        <value>192.168.30.30</value>
      </setting>
      <setting name="EsnPort" serializeAs="String">
        <value>8082</value>
      </setting>
      <setting name="EsnId" serializeAs="String">
        <value>develop</value>
      </setting>
      <setting name="EsnPassword" serializeAs="String">
        <value>esl</value>
      </setting>
      <setting name="SshId" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="SshPw" serializeAs="String">
        <value>lgw#@**)</value>
      </setting>
      <setting name="SshPort" serializeAs="String">
        <value>58176</value>
      </setting>
      <setting name="dbUserId" serializeAs="String">
        <value>postgres</value>
      </setting>
      <setting name="dbName" serializeAs="String">
        <value>esl</value>
      </setting>
      <setting name="dbPort" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="dbPassword" serializeAs="String">
        <value>cgESLPassword</value>
      </setting>
      <setting name="remotePath" serializeAs="String">
        <value>/app/daemon/config/</value>
      </setting>
      <setting name="localPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="textFileName" serializeAs="String">
        <value>TestStoreTable.txt</value>
      </setting>
      <setting name="userId_lab" serializeAs="String">
        <value>ateciot_lab</value>
      </setting>
      <setting name="password_lab" serializeAs="String">
        <value>lab@12345</value>
      </setting>
      <setting name="userId_service" serializeAs="String">
        <value>ateciot_service</value>
      </setting>
      <setting name="password_service" serializeAs="String">
        <value>service@12345</value>
      </setting>
      <setting name="isLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="corePort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="deleteRowPW" serializeAs="String">
        <value>wasadm@#</value>
      </setting>
    </ToolMaster.Setting>
  </userSettings>
</configuration>
